h4.float-left {
  display: inline;
  float: left;
}

h4.float-right {
  display: inline;
  float: right;
}

#items pre {
    padding-bottom: 10px;
}

#items div.item {
	clear:both;
	margin: 0 0 20px 0;
	text-shadow: none;
	padding: 15px;
	line-height: 20px;
	background:#fdebae;
    border:1px solid #e6c555;
}

#items div.item div.title {
    padding: 0px;
    margin-bottom: 10px;
    width: 100%;
	background:#fdebae;
    text-align: center;
}

#items div.item div.components {
    padding: 0px;
    margin-bottom: 10px;
    width: 100%;
	background: #fdebae;
    border-top: 1px solid #e6c555;
}

#items div.item div.components span.name {
    padding-bottom: 10px;
    display: block;
}

#items div.item div.attributes {
    padding: 0px;
    width: 100%;
	background:#fdebae;
	border-top:1px solid #e6c555;
}

#items div.item div.components ul,
#items div.item div.attributes ul {
    padding: 5px 0 5px 0;
    margin: 0;
}

#items div.item div.components ul li,
#items div.item div.attributes ul li {
    background: initial;
    font-size: 13px;
    padding-left: 0px;
}