/* =Responsive Structure
----------------------------------------------- */
@media (max-width: 1200px) {
	/* Disable fixed navigation buttons */
	
}

@media (max-width: 1140px) {
	body {
		padding: 40px;
	}
	#page {
		margin: 0 auto;
	}
	/* Disable triange */
	.triangle-l {
		display: none;
	}
	.triangle-r {
		display: none;
	}
	#access .menu {
		margin-bottom: 31px;
	}
	#access .menu ul {
		margin: 0 -1px;
	}
	/* Gallery thumbnails will be 4 columns from now on */
	
}

@media (max-width: 800px) {
	/* Disable body padding */
	body {
		padding: 0;
	}
	/* And a full-width comment form */
	
}
@media (max-width: 650px) {
	/* Disable menu */
	#access .menu ul#tiny {
		display: none;
	}
	/* Enable dropdown menu */
	.selectnav {
		display: block;
	}
	/* Reorganize header elements */
	#branding #site-title {
		margin-bottom: 15px;
		text-align: center;
	}
	#branding #site-title img {
		display: inline;
	}	

		

		

	/* Floated content doesn't work well at this size */

	/* Use the available space in the smaller comment form */

	/* Gallery thumbnails will be 2 columns from now on */
	
	/* No need to float footer widgets at this size */

	

}
@media (max-width: 480px) {
	
	/* Dropdown menu size */
	.selectnav {
		width: 75%;
	}
	/* Related posts one column */

	/* Disable avatars */

	
}

@media (max-width: 320px) {
	#content {
		margin: 0 29px;
		width: auto;
	}
	#site-title {
		padding: 29px 0 0;
	}
	
	#branding #site-title {
		margin: 0 29px 29px 29px;
	}

	
	
}

